##############################
## POSTGRESQL BACKUP CONFIG ##
##############################

# Optional system user to run backups as.  If the user the script is running as doesn't match this
# the script terminates.  Leave blank to skip check.
BACKUP_USER=

# Optional hostname to adhere to pg_hba policies.  Will default to "localhost" if none specified.
HOSTNAME=localhost

# Port. Default 5432 if blank
PORT=5432

# Optional username to connect to database as.  Will default to "postgres" if none specified.
USERNAME=postgres

# This dir will be created if it doesn't exist.  This must be writable by the user the script is
# running as.
BACKUP_DIR=/home/larry/Documents/pg_backup

# List of strings to match against in database name, separated by space or comma
BACKUP_DB_LIST="database1,database2"


#### SETTINGS FOR ROTATED BACKUPS ####

# Enable Monthly Backup
ENABLE_MONTHLY_BACKUP=true


# Enable Weekly Backup
ENABLE_WEEKLY_BACKUP=true
# Which day to take the weekly backup from (1-7 = Monday-Sunday)
DAY_OF_WEEK_TO_KEEP=1
# How many weeks to keep weekly backups
WEEKS_TO_KEEP=5


# Enable Daily Backup
ENABLE_DAILY_BACKUP=true
# Number of days to keep daily backups
DAYS_TO_KEEP=7

######################################
